.container {
  padding: 20px 20px 0;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 100%;
  max-width: 300px;
  border: 1px solid #cfd6e0;
  border-radius: 0;
  outline-color: #b3b8c2;
  padding: 10px;
}
