.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email {
  margin: 0;
  font-size: 13px;
  color: #a5a5a5;
}

.logoutButton {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 14px;
  height: 30px;
  color: #010101;
  background-color: transparent;
  cursor: pointer;
}
